<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label >Email Adresi</label>
      <input  formControlName="email" type="text"  class="form-control" placeholder="E-mail adresiniz" >
    </div>
    <div class="form-group">
      <label > Şifre</label>
      <input formControlName="password" type="text"  class="form-control" placeholder="Sifreniz" >
    </div>
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
  </form>
  {{ loginForm.value | json }}
  </div>

  