
<nav class="navbar navbar-expand-lg" style="background-color: #0a446d; ">
    <a class="navbar-brand" href="#">Sözlüksss</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" routerLink="home">En Yeniler</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="login">Giriş Yap</a>
        </li>
        <li class="nav-item " >
          <a class="nav-link" routerLink="register">Kayıt Ol</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="userProfile">Profilim</a>
          </li>  
      </ul>
    </div>
  </nav>
<br>



<router-outlet></router-outlet>
