<div class="container">
<form [formGroup]="registrationFrom" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label >title</label>
    <input  formControlName="title" type="text"  class="form-control" >
  </div>
  <div class="form-group">
    <label >content</label>
    <input formControlName="content" type="text"  class="form-control" >
  </div>
  <div class="form-group">
    <label >comment</label>
    <input formControlName="comment" type="text"  class="form-control" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{ registrationFrom.value | json }}
</div>