<div class="container">
<table *ngIf="userDetails" class="table">
  <thead>
      <tr>
          <th colspan="2" class="text-center">User Profile</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>First Name</td>
          <td>{{userDetails.fullName.split(' ')[0]}}</td>
      </tr>
      <tr>
          <td>Last Name</td>
          <td>{{userDetails.fullName.split(' ')[1]}}</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>{{userDetails.email}}</td>
      </tr>
      <tr>
          <td colspan="2" >
              <input type="button" (click)="onLogout()" class="btn btn-primary btn-sm" value="Logout" />   
          </td> 
      </tr>
      <tr>
  </tbody>
</table>

<button type="button"  (click)="onbaslikAc()" class="btn btn-success btn-sm">Yeni Başlık Aç</button>
</div>

