<div class="container">
  
  <h1 style="text-align:center">Olaylar Olaylar</h1>
  <br>
  <div class="row">

 <div class="col-md-2">
    <h3>Başlıklar</h3>
    <div  *ngFor="let contnt of registrationService.contents">
      
        {{ contnt.title }}
    </div>
 </div>
    <div class="col-md-8">
  <div style= "padding:20px 0" *ngFor="let contnt of registrationService.contents">
  <div class="card" >
      <div class="card-header"style="color: red;">
       {{ contnt.title }}
      </div>
      <div class="card-body">
        <p class="card-text">{{ contnt.content }}</p>
        <p class="card-text"style="color: blue;">{{ contnt.comment }}</p>
        <span style="float: right; color: green; ">sev</span>
        <span style="float: left; color: red; ">sevme</span>
      </div>
    </div>
  </div>
  </div>
</div>
</div>

  

