<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label >ad-soyad</label>
      <input  formControlName="fullName" type="text"  class="form-control" placeholder="Full Name" >
    </div>
    <div class="form-group">
      <label >e-mail adresi</label>
      <input formControlName="email" type="text"  class="form-control" placeholder="Email" >
    </div>
    <div class="form-group">
      <label >sifre</label>
      <input formControlName="password" type="text"  class="form-control" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {{ registerForm.value | json }}
  <div class="success" *ngIf="showSucessMessage">
    Saved successfully
  </div>
  </div>



  